h1 {
    text-align: center;
    color: rgb(23, 197, 32);
}
p {
    text-align: center;
    color: rgb(43, 89, 119);
}
table {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 500%;
}
td,th {
    border: 0px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
.instagram-icon {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    color: transparent;
}
.whatsapp-icon {
    color: #25D366;
}
.mensaje-icon {
    text-decoration-line: none;
}
.mx-auto {
    width: 20%;
    font-family: Comic Sans MS;
}
button {
    width: 100%;
    font-family: Comic Sans MS;
}
.footer {
    
    background-color: #f8f9fa;
    padding: 20px;
    text-align: left;
    position: absolute;
    bottom: -360px;
    width: 100%;
}
.footer p {
    text-align: left;
}
.logo {
    width: 50px;
    height: auto;
}
.input-2 {
    padding-top: 2%;
}