<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Nuestras redes sociales
    </h1>
    <div>
        <table>
            <tr>
                <td><a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank"><i class="fa-brands fa-facebook"></i></a></td>
                <td><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram instagram-icon"></i></a></td>
                <td><a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><i class="fab fa-whatsapp whatsapp-icon"></i></a></td>
            </tr>
        </table>
    </div>
    <div>
        <app-formulario></app-formulario>
    </div>
</body>
</html>