<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
  <div>
    <div class="ant">
      <img src="/assets/img/banner.jpg" alt="">
    </div>
    <br>
    <h1>¿Qué Ofrecemos?</h1>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="/assets/img/instalacionsistemaoperativo.jpg" class="img-fluid" alt="">
          <p>Instalación de Sistemas Operativos</p>
        </div>
        <div class="col-4">
          <img src="/assets/img/images.jpg" class="img-fluid" alt="">
          <p>Instalación de Software de Oficina</p>
        </div>
        <div class="col-4">
          <img src="/assets/img/reparacion computadores.jpg" class="img-fluid" alt="">
          <p>Reparación de Computadoras</p>
        </div>
      </div>
    </div>
    <div>
      <form [formGroup]="formularioForm" (ngSubmit)="enviarDatos()">
        <br>
        <h1>
            <a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank"><i class="fa-solid fa-envelope mensaje-icon"></i></a>
            <u>Déjanos tu Mensaje</u>
        </h1>
        <p>"No dudes en consultar o solicitar nuestros servicios."</p>
        <div class="mx-auto" style="width: 30%; font-family: Comic Sans MS;">
            <div class="formGroup input-2">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Ingresa tu nombre" required>
                <small class="form-text text-muted">Debe ingresar un Nombre.</small>
            </div>
            <div class="formGroup input-2">
                <label>Apellido</label>
                <input type="text" formControlName="apellido" class="form-control" id="apellido" placeholder="Ingresa tu apellido" required>
                <small class="form-text text-muted">Debe ingresar un Apellido.</small>
            </div>
            <div class="formGroup input-2">
                <label>Mensaje:</label>
                <textarea formControlName="mensaje" class="form-control" id="mensaje" placeholder="Escribe tu consulta o solicitud aquí..." rows="4" required></textarea>
                <small class="form-text text-muted">Debe ingresar un mensaje.</small>
            </div>
        <br>
        <button class="" type="submit" class="btn btn-primary">Enviar</button><br>
        <br>
        <p *ngIf="mensaje">Hola, <b>{{mensaje}}</b>, su mensaje ha sido enviado correctamente.</p>
        </div>
      </form>
    </div>
  </div>
  <footer class="footer">
    <img src="/assets/img/logotipo.png" alt="Logotipo" class="logo">
    <h2>Mercy Developer</h2>
    <p>Contacto: +56 1234 5678</p>
  </footer>
</body>
</html>
