h1 {
    color:black
}
h2 {
    color:black
}
.map-container {
    height: 550px; /* Asegúrate de que la altura esté definida */
    width: 100%;   /* Asegúrate de que el ancho esté definido */
}
.footer {
    
    background-color: #f8f9fa;
    padding: 20px;
    text-align: left;
    position: absolute;
    bottom: -75%;
    width: 100%;
}

.logo {
    width: 50px;
    height: auto;
}