h1 {
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;
    color: rgb(43, 43, 119);
}
p {
    text-align: center;
    color: rgb(255, 145, 0);
}
button {
    width: 100%;
    font-family: Comic Sans MS;
}
div {
    width: 30%;
    font-family: Comic Sans MS;
}