h1 {
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;
    color: rgb(43, 43, 119);
}
p {
    text-align: center;
    color: rgb(43, 89, 119);
}
button {
    width: 100%;
    font-family: Comic Sans MS;
}
u {
    color: rgb(43, 43, 119)
}
.input-2 {
    padding-top: 2%;
}